{% extends 'main/base.html' %}

{% block title %}Спасибо за заказ{% endblock %}

{% block content %}
<div class="container mt-4">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <h2 class="mt-4">Благодарим за заказ!</h2>
    <p>Наши флористы уже готовят ваш букет к доставке.</p>
    <a href="{% url 'main:catalog' %}" class="btn btn-primary mt-3">Вернуться в каталог</a>
</div>
{% endblock %}
